<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>常用指令</title>
		<script src="../js/vue-2.5.15.js"></script>
		<script>
			window.onload=function(){
				new Vue({
					el:'#box',
					data:{
						msg:'khan',
						msg2:12,
						msg3:true,
						arr:['apple','banana','orange'],
						json:{a:2,b:'khan'}
					}
				})
			}
		</script>
	</head>
	<body>
		<!--
		
		常用指令:
			指令:扩展html标签功能，属性
			
			v-model  表单元素  双向数据绑定
		-->
		<div id="box">
			<input type="text" v-model="msg">
			<input type="text" v-model="msg">
			{{msg}}
			<br>
			{{msg2}}
			<br>
			{{msg3}}
			<br>
			{{arr}}
			<br>
			{{json}}
		</div>
	</body>
</html>
