<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue指令</title>
		<script src="../js/vue-2.3.0.min.js"></script>
	</head>
	<body>
		<div id="demo">
			姓:<input type="text" placeholder="First name" v-model="firstName" /><br />
			名:<input type="text" placeholder="Last name" v-model="lastName" /><br />
			姓名1(单向):<input type="text" placeholder="Full name1" v-model="fullName1" /><br />
			姓名2(单向):<input type="text" placeholder="Full name2" /><br />
			姓名3(双向):<input type="text" placeholder="Full name3" /><br />
		</div>
		<script>
			new Vue({
				el:'#demo',
				data:{
					firstName:'A',
					lastName:'B',
					//fullName1:'A B'
				},
				computed:{
					//什么时候执行:初始化显示/相关data属性数据发生变化
					fullName1(){//计算属性方法 方法的返回值作为属性值
						console.log('fullName()')
						return this.firstName+' '+this.lastName;
					}
				}
			})
			/*
			
				1，计算属性：
					在computed属性对象中定义计算属性的方法
					在页面中使用{{方法名}}来显示计算的结果
				2，监听属性：
					通过vm的$watch()或watch配置来监听指定的属性
					当属性变化时，回调函数自动调用，在函数内部进行计算
				3，计算属性高级：
					通过getter/setter实现对属性数据的显示和监听
					计算属性存在缓存，多次读取只执行一次getter计算
				
			*/
		</script>
	</body>
</html>
