<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>百度下拉菜单</title>
		<script src="./vue.js"></script>
		<script src="./vue-resource.js"></script>
		<style>
			.gray{
				background-color: lightcoral;
			}
		</style>
	</head>
	<body>
		<!--
		
		-->
		<div id="box">
			<input type="text" v-model="t1" @keyup="get()" @keydown.down="changeDown()" @keydown.up.prevent="changeUp()">
			<ul>
				<li v-for="value in myData" :class="{gray:$index==now}">{{value}}</li>
			</ul>
			<p v-show="myData.length==0">暂无数据...</p>
		</div>
		<script>
			var vm=new Vue({
				el:'#box',
				data:{
					myData:[],
					t1:'',
					now:-1
				},
				methods:{
					get(){
						//alert(1)
						this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
							wd:this.t1
						},{
							jsonp:'cb'
						}).then((res)=>{
							this.myData=res.data.s;
						});
					},
					changeDown(){
						this.now++;
						if(this.now==this.myData.length)this.now=-1;
					},
					changeUp(){
						this.now--;
						if(this.now==-2)this.now=this.myData.length-1;
					}
				}
			})
		</script>
	</body>
</html>
